# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Numpy.
3. SciPy.
4. pandas.
5. Matplotlib.

|DATA SCIENCE TOOLS|
|---|
|Tenserflow|
|SAS|
|Apache|

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
#this is a common arithmetic example to multiply and then add integers
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

_Objective_
* List popular languages for Data Science
* List popular libraries for Data Science
* List of Well known Data Science Tools
* How to Provide comments in the cell

## Author
Vishnu Chiluveri